/* <!-- Section: Header --> */
header {
    height: 70px;
    background-color: #C0C0C0;
}
#sprinter {
    max-width: 130px;
    margin-top: 11px;
    margin-left: 40px;
}
#menu {
    float: right;
    max-width: 30px;
    margin-top: 16px;
    margin-right: 40px;
}
/* <!-- Section: Menu (event driven; normally not displayed) --> */
#menu-content {
    display: none;
    z-index: 10;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
    height: 250px;
    background-color: white;
    color: blue;
}
#menu-content p {
    margin-left: 20px;
}
#X-menu {
    color: black;
    text-align: right;
    margin-right: 10px;
}
/* <!-- Section: Image --> */
#reichstag {
    position: relative;
}
#text-and-button {
    position: absolute;
    margin-top: 27%;
    width:100%;
}
#reichstag h1 {
    width: 100%;
    color: white;
    font-style: italic;
    font-family: serif;
    text-align: center;
}
#div-button {
    width: 100%;
}
#button {
    margin: auto;
    border-radius: 20px;
    border: 2px solid #BA6006;
    height: 30px;
    width: 180px;
    background-color: #FFCC33;
    text-align:center;
    color: #BA6006;
    font-size: 20px;
    padding-top: 5px;
}
#reichstag img {
    width: 100%;
    vertical-align:bottom;
    /*how can I make pic darker?*/
}
/* <!-- Section: Description --> */
.container {
    background-color: #C0C0C0;
    padding-top: 35px;
    padding-bottom: 70px;
}
#content {
    position: relative;
    height: 150px;
    width:80%;
    margin: auto;
    background-color: #C0C0C0;
}
.item {
    width: 48%;
    height: 70px;
}
#top-left {
    position: absolute;
    left: 0px;
    top: 0px;
}
#top-right {
position: absolute;
    right: 0px;
    top: 0px;
}
#bottom-left {
    position: absolute;
    left: 0px;
    bottom: 0px;
}
#bottom-right {
position: absolute;
    right: 0px;
    bottom: 0px;
}
.item-inside {
    position: relative;
}
.figure {
    position: absolute;
    width: 10%;
    top: 0px;
    left: 0px;
}
.item-text {
    position: absolute;
    width: 85%;
    top: 0px;
    right: 0px;
}
.title {
    margin-top: 0px;
    margin-bottom:0px;
}
.text {
    font-size: 15px;
    margin-top:0px;
}
/* <!-- Section: Footer --> */
footer {
    height: 30px;
    background-color: GREY;
}
footer p {
    color: white;
    margin-top: 0px;
    padding-top: 7px;
    margin-left: 5%;
}
